@charset "UTF-8";
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-image: -webkit-repeating-linear-gradient(135deg,rgba(0,0,0,0.71) 0%,rgba(15,70,139,0.40) 100%), url(pexels-photo-63703.jpeg);
    background-image: -moz-repeating-linear-gradient(135deg,rgba(0,0,0,0.71) 0%,rgba(15,70,139,0.40) 100%), url(pexels-photo-63703.jpeg);
    background-image: -o-repeating-linear-gradient(135deg,rgba(0,0,0,0.71) 0%,rgba(15,70,139,0.40) 100%), url(pexels-photo-63703.jpeg);
    background-image: repeating-linear-gradient(315deg,rgba(0,0,0,0.71) 0%,rgba(15,70,139,0.40) 100%), url(pexels-photo-63703.jpeg);
    background-size: auto auto;
}
.row {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    clear: both;
    float: none;
}
.row.blockDisplay {
    display: block;
    height: 119px;
    width: 100%;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.columns {
    width: 50%;
    float: left;
    font-family: "Source Sans Pro";
    color: #A5A5A5;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.row .columns p {
    padding-left: 10%;
    padding-right: 10%;
    color: hsla(0,0%,100%,1.00);
}
.container .columns h4 {
    text-align: center;
    color: #BCA700;
    text-shadow: 0 0 15px hsla(46,80%,50%,1.00);
    font-family: megrim;
    font-style: normal;
    font-weight: 800;
    font-variant: normal;
    font-size: 200%;
}
.primary_header {
    width: 100%;
    background-color: hsla(0,0%,14%,1.00);
    padding-top: 50px;
    padding-bottom: 25px;
    clear: left;
    border-bottom: 2px solid #2C9AB7;
    background-image: -webkit-repeating-linear-gradient(135deg,rgba(10,31,97,0.46) 0%,rgba(24,17,17,0.49) 100%);
    background-image: -moz-repeating-linear-gradient(135deg,rgba(10,31,97,0.46) 0%,rgba(24,17,17,0.49) 100%);
    background-image: -o-repeating-linear-gradient(135deg,rgba(10,31,97,0.46) 0%,rgba(24,17,17,0.49) 100%);
    background-image: repeating-linear-gradient(315deg,rgba(10,31,97,0.46) 0%,rgba(24,17,17,0.49) 100%);
    text-align: center;
    font-family: megrim;
    font-style: normal;
    font-weight: 400;
}
.secondary_header {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #242424;
    clear: left;
    margin-right: 0px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: center;
    color: #FAFAFA;
}
.container .secondary_header ul {
    margin-bottom: 0%;
    padding-top: 0px;
    padding-bottom: 15px;
    width: 50%;
    margin-top: 0%;
    text-align: right;
    padding-right: 5px;
    margin-left: 45%;
    padding-left: 0px;
}
.secondary_header ul li {
    list-style: none;
    float: left;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    width: 14%;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
    padding-left: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.left_article {
    width: 70%;
    float: left;
    font-family: "Source Sans Pro";
    color: #343434;
    padding-bottom: 15px;
    padding-right: 0px;
}
.noDisplay {
	display: none;
}
.container .left_article h3 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    color: #C3C3C3;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}
.container .left_article p {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.right_article {
    width: 30%;
    float: left;
    background-color: #242424;
    height: 30%;
}
.container .right_article ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.right_article ul li {
	font-family: "Source Sans Pro";
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;
}
.right_article ul li:hover {
	background-color: #717070;
	cursor: pointer;
}
.footer {
	background-color: #717070;
}
.title {
    font-weight: 400;
    font-style: normal;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    text-align: center;
    color: hsla(47,76%,90%,1.00);
    letter-spacing: 2px;
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 50px;
}
.placeholder {
    width: 70%;
    padding-top: 24px;
    background-color: hsla(0,0%,14%,1.00);
    -webkit-box-shadow: 0px 0px hsla(0,0%,14%,1.00);
    box-shadow: 0px 0px hsla(0,0%,14%,1.00);
    min-height: 200px;
    min-width: 400px;
    padding-right: 0px;
    /* [disabled]margin-left: 119px; */
    padding-bottom: 24px;
}
.left_half {
    background-color: #181D2A;
    width: 50%;
}
.container .column_half.left_half h2 {
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
}
.right_half {
    background-color: #181D2A;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
    width: 50%;
}
.column_title {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: impact;
    color: hsla(0,0%,100%,1);
}
.copyright {
    text-align: center;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: italic;
}
head {    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

@media (max-width : 320px ){
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
}
header .primary_header .title {
    font-size: 22px;
}
header .primary_header #tagline {
    font-size: 36px;
}
}

@media (min-width : 321px ) and ( max-width : 768px ){
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
    width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
.container .secondary_header ul {
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    width: 117%;
    margin-top: auto;
    height: 59%;
}
}

@media (min-width: 1001px) {
}
.thumbnail_align {
	text-align: center;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
#menu {
    width: 100%;
    background-color: hsla(0,0%,14%,1.00);
    background-image: -webkit-linear-gradient(135deg,rgba(10,31,97,0.46) 0%,rgba(24,17,17,0.49) 100%);
    background-image: -moz-linear-gradient(135deg,rgba(10,31,97,0.46) 0%,rgba(24,17,17,0.49) 100%);
    background-image: -o-linear-gradient(135deg,rgba(10,31,97,0.46) 0%,rgba(24,17,17,0.49) 100%);
    background-image: linear-gradient(315deg,rgba(10,31,97,0.46) 0%,rgba(24,17,17,0.49) 100%);
    margin-left: 0%;
    padding-top: 0px;
    padding-bottom: 20px;
}
#tagline {
    text-align: center;
    font-size: 450%;
}
#tagline {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 600%;
    text-shadow: 0 0 50px hsla(46,80%,50%,1.00);
    font-family: megrim;
    font-style: normal;
    font-weight: 400;
    color: hsla(46,80%,50%,1.00);
}
